<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.klioshop.app"
        versionCode = "10"
        version     = "1.6.0">

    <name>KLIOSHOP</name>

    <description>
        Ювелирные изделия из серебра.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FFFFFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/80cf37804e06fe7f692b51f1e91de554.png" density="ldpi" />
        <icon src="res/android/icon/7ed66472e0ce92f12f6503221e8c7dbd.png" density="mdpi" />
        <icon src="res/android/icon/0e5d15b7f9a796f342137dbf916fa088.png" density="hdpi" />
        <icon src="res/android/icon/ed5f9202c9cbd5471ca142dec08ae58d.png" density="xhdpi" />
        <icon src="res/android/icon/6fb8812f1645ea6a3808d82a34e00e3e.png" density="xxhdpi" />
        <icon src="res/android/icon/f32c25365ac84b3cdc1fc6965a99ae61.png" density="xxxhdpi" />

        <splash src="res/android/screen/71b441f4c2720c37f43fd58538b4b11b.png" density="port-hdpi"/>
        <splash src="res/android/screen/f9efa043572dbf93224d8713b56c11c5.png" density="port-ldpi"/>
        <splash src="res/android/screen/cbf0bdc1bc9d0371d045ebbdce62cf51.png" density="port-mdpi"/>
        <splash src="res/android/screen/c1dfbaf4aca4d6c8fea4d53697c5950d.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/67392161e5d81bc286278bdb2538dcbd.png" width="180" height="180" />
        <icon src="res/ios/icon/5edb4062fe97dc41ecb31e1008bcbb98.png" width="60" height="60" />
        <icon src="res/ios/icon/31457abee29689386f792c0f08f4892a.png" width="120" height="120" />
        <icon src="res/ios/icon/84183644600e509fefe313dfb16c1cb8.png" width="76" height="76" />
        <icon src="res/ios/icon/58232a969dcd73882ed3c60413f1ae74.png" width="152" height="152" />
        <icon src="res/ios/icon/0f90ab68f77a8926940bf6c2bbc1092d.png" width="57" height="57" />
        <icon src="res/ios/icon/6e143f6a0b605c5d1526c249415ef8c0.png" width="114" height="114" />
        <icon src="res/ios/icon/9d8a09c5c029f359b7c71df0ea0f53b3.png" width="72" height="72" />
        <icon src="res/ios/icon/e3965018bcceedbc838b71cca7494183.png" width="144" height="144" />
        <icon src="res/ios/icon/d8335b5fa44a896a3861dd3d902df737.png" width="167" height="167" />
        <icon src="res/ios/icon/c0852ead2369fa442c1e2113e9d87722.png" width="29" height="29" />
        <icon src="res/ios/icon/c3a916b43ff5fe8a6ad16a495c628c25.png" width="58" height="58" />
        <icon src="res/ios/icon/e9eb67714792382e84bfde1420f54410.png" width="87" height="87" />
        <icon src="res/ios/icon/1b0e8bdcfde2839a7243a3a163492a4c.png" width="167" height="167" />

        <splash src="res/ios/screen/d7d0ce60ac7eab8d028c3baa44bd2ed9.png" />
        <splash src="res/ios/screen/ec1fe1446b029b403b0d051ff8729354.png" />
        <splash src="res/ios/screen/7c5ff1737e55f290872eebcf29db0e49.png" />
        <splash src="res/ios/screen/4034f0ad56c152412f6c011a71bc590e.png" />
        <splash src="res/ios/screen/a44d701bda6d46616c928db6c63849e8.png" />
        <splash src="res/ios/screen/0ca15a73a82067fca470d3502b443b05.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/243a094c21beaab61c2bc2684c02e1d4.png" target="StoreLogo" />
        <icon src="res/windows/icon/1986db351b651bf18d830122c01ac478.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/27b7de28fba65d829408714688697913.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/3ff124add900eeb9e07270fa250b3e60.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/6086e70f18d490debb589f222d106900.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/29f8369ccd9edf66deae0e6ae3dc0d85.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/29ff54d2690132dab8a98eaab59d4303.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/50a92a7363139395043487918b1e6cd3.png" target="SplashScreen"/>
        <splash src="res/windows/screen/1c65138f2c5275e2b3021e6321f5f10f.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>