<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.klioshop.app"
        versionCode = "10"
        version     = "1.1.0">

    <name>ТЕСТ. KLIOSHOP</name>

    <description>
        Ювелирные изделия из серебра.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FDFEFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/cf295d322280a3b75a82dd51da9b68f5.png" density="ldpi" />
        <icon src="res/android/icon/cc62d015231714c2db136a5488a2b226.png" density="mdpi" />
        <icon src="res/android/icon/bb67d4643c313e2d630a0259278f3d04.png" density="hdpi" />
        <icon src="res/android/icon/9e58a32da1463630df165285bbdcea2e.png" density="xhdpi" />
        <icon src="res/android/icon/c516336b7758b9cb6d00e9f91e75753f.png" density="xxhdpi" />
        <icon src="res/android/icon/510c923178d694775939c5cf03a2b075.png" density="xxxhdpi" />

        <splash src="res/android/screen/71b441f4c2720c37f43fd58538b4b11b.png" density="port-hdpi"/>
        <splash src="res/android/screen/f9efa043572dbf93224d8713b56c11c5.png" density="port-ldpi"/>
        <splash src="res/android/screen/cbf0bdc1bc9d0371d045ebbdce62cf51.png" density="port-mdpi"/>
        <splash src="res/android/screen/c1dfbaf4aca4d6c8fea4d53697c5950d.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/e2bc69a355d37bb4abaf0a78f5c7d195.png" width="180" height="180" />
        <icon src="res/ios/icon/10ddcba9cb2b0cdfd588ca77c5e72e33.png" width="60" height="60" />
        <icon src="res/ios/icon/e34cec0d168f1656119b4eb59ce92cc6.png" width="120" height="120" />
        <icon src="res/ios/icon/76fae089699e31947cfcbdfb2fecbd88.png" width="76" height="76" />
        <icon src="res/ios/icon/be94e2a3d864619d3b07c871796d3b50.png" width="152" height="152" />
        <icon src="res/ios/icon/a4ab9cbfd265ceaaf86451ff37c802d9.png" width="57" height="57" />
        <icon src="res/ios/icon/2cd465378f0d3177ff486917dcaf5652.png" width="114" height="114" />
        <icon src="res/ios/icon/3575082c87dfd92a72da7a025f170a5a.png" width="72" height="72" />
        <icon src="res/ios/icon/ef854fb61f7226a5693a053e484d4c63.png" width="144" height="144" />
        <icon src="res/ios/icon/fc1eaa17db6b4d45ea23dc523247bbb2.png" width="167" height="167" />
        <icon src="res/ios/icon/e87d153f20229b629d079664d096ccb0.png" width="29" height="29" />
        <icon src="res/ios/icon/ec94c1a649c72216d8b2a353d21c9077.png" width="58" height="58" />
        <icon src="res/ios/icon/e9c7da68130cc3ad74f80e7380abd66b.png" width="87" height="87" />
        <icon src="res/ios/icon/79f5c5be1edff186e1392eeaf1c71c2c.png" width="167" height="167" />

        <splash src="res/ios/screen/d7d0ce60ac7eab8d028c3baa44bd2ed9.png" />
        <splash src="res/ios/screen/ec1fe1446b029b403b0d051ff8729354.png" />
        <splash src="res/ios/screen/7c5ff1737e55f290872eebcf29db0e49.png" />
        <splash src="res/ios/screen/4034f0ad56c152412f6c011a71bc590e.png" />
        <splash src="res/ios/screen/a44d701bda6d46616c928db6c63849e8.png" />
        <splash src="res/ios/screen/0ca15a73a82067fca470d3502b443b05.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/1e417817d44550031126a2c1a87ea4d9.png" target="StoreLogo" />
        <icon src="res/windows/icon/d345db708876616f3f9d6f90e3fd3671.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/94f19446c391ea0c3c930efaae3937ff.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/ae166826739947247001c7983c7d0bf1.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/673d4bd434107cd0077c5af6c327439a.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/f4d9da375fbf79c8718cd06f82366eea.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/acfb22ab5395482a547649f5a29bb00f.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/50a92a7363139395043487918b1e6cd3.png" target="SplashScreen"/>
        <splash src="res/windows/screen/1c65138f2c5275e2b3021e6321f5f10f.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>