<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.klioshop.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. KLIOSHOP</name>

    <description>
        Ювелирные изделия из серебра.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FDFEFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/4def2d0dee967c7ea42bd5298d634ced.png" density="ldpi" />
        <icon src="res/android/icon/4d24ad2212bbe8e8ad9571c5ac254347.png" density="mdpi" />
        <icon src="res/android/icon/540fcfb67fa0be910e2b88d0d7523c5e.png" density="hdpi" />
        <icon src="res/android/icon/e22d72732011674985f22c474b9f7e54.png" density="xhdpi" />
        <icon src="res/android/icon/60cd4760c6efa9cb62e616b9b2593b15.png" density="xxhdpi" />
        <icon src="res/android/icon/b4625e0af145fe8dd1fb69a46b62e49e.png" density="xxxhdpi" />

        <splash src="res/android/screen/71b441f4c2720c37f43fd58538b4b11b.png" density="port-hdpi"/>
        <splash src="res/android/screen/f9efa043572dbf93224d8713b56c11c5.png" density="port-ldpi"/>
        <splash src="res/android/screen/cbf0bdc1bc9d0371d045ebbdce62cf51.png" density="port-mdpi"/>
        <splash src="res/android/screen/c1dfbaf4aca4d6c8fea4d53697c5950d.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/da1ad95d17a4584e295e9ae3079193a5.png" width="180" height="180" />
        <icon src="res/ios/icon/2a7695c910034a84e8bb28c42b77c9e3.png" width="60" height="60" />
        <icon src="res/ios/icon/99b62fabcc00a53e8f4166e5de682b66.png" width="120" height="120" />
        <icon src="res/ios/icon/e980ab094be6ae37cbd0da9f2bbc90a1.png" width="76" height="76" />
        <icon src="res/ios/icon/4f541b93967ee8a5e8149a11390838f1.png" width="152" height="152" />
        <icon src="res/ios/icon/092a85b51e605ed8242bdec03c4b22a2.png" width="57" height="57" />
        <icon src="res/ios/icon/840aa42c5c9d3316539d31cf2475e717.png" width="114" height="114" />
        <icon src="res/ios/icon/27bcbb10c6c11491673292a47eca6201.png" width="72" height="72" />
        <icon src="res/ios/icon/84974ed882a2e1dfd49fcfa79d94cd06.png" width="144" height="144" />
        <icon src="res/ios/icon/6ad927e61e21a90a7e87073d7d6a417c.png" width="167" height="167" />
        <icon src="res/ios/icon/66af3833b1ddeb5cbfda68a25b53e178.png" width="29" height="29" />
        <icon src="res/ios/icon/13a4dcea56ef64a09058006760e9c57a.png" width="58" height="58" />
        <icon src="res/ios/icon/5a87785c3d25eee3e6ac1eeb73528d92.png" width="87" height="87" />
        <icon src="res/ios/icon/e95cf7f046fbf0b48cd1b5c54cbc11f5.png" width="167" height="167" />

        <splash src="res/ios/screen/d7d0ce60ac7eab8d028c3baa44bd2ed9.png" />
        <splash src="res/ios/screen/ec1fe1446b029b403b0d051ff8729354.png" />
        <splash src="res/ios/screen/7c5ff1737e55f290872eebcf29db0e49.png" />
        <splash src="res/ios/screen/4034f0ad56c152412f6c011a71bc590e.png" />
        <splash src="res/ios/screen/a44d701bda6d46616c928db6c63849e8.png" />
        <splash src="res/ios/screen/0ca15a73a82067fca470d3502b443b05.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/72340554d68d5608b90bb1706bf3aa15.png" target="StoreLogo" />
        <icon src="res/windows/icon/5b05e7c6f46bfa3792b3ae30808d7616.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/466d7d5797da23b56b829c12735cae3c.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/0da2af3ea03cc5c88880a449b766a89c.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/66037fc7b0cb80188f72d1483be5f6c1.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/bf714b044659fa853243203886b9a016.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/d585e07a58bdfb6d357ad893ef9ae977.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/50a92a7363139395043487918b1e6cd3.png" target="SplashScreen"/>
        <splash src="res/windows/screen/1c65138f2c5275e2b3021e6321f5f10f.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>